doctype html
html
  head
    title= title
    <!-- link(rel='stylesheet', href='/stylesheets/unitaskr.css') -->
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css")
    script(src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    script(src="js/bundle.js")
  body
    block content
